@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<h3>The purpose of this application is to allow access to the database and manage and view it easily from here.</h3>
<br />
<h4>Version Updates and Details:</h4>
<p>v1.0: Created the application with a test database to check basic functionality</p>
<p>v1.1: Created a Login page with admin managed users to allow access to the application and database</p>
<p>v1.1.1: Updated and tidied up the application to make it more user friendly - minor update</p>
<p>v1.2: Added the live test database to the application and made this accessible for each table on the home page</p>
<p>v1.3: Added a search field to reduce load times and also allow searching for specific items</p>
<p>v1.4: Updated styles in site.css</p>
